version: '3.9'

services:
  documents:
    build: ./venv/app1
    ports:
      - 8000:80
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost/__health_check" ]
      interval: 10s
      timeout: 20s
      retries: 5
      start_period: 5s

  templates:
    build: ./venv/app2
    ports:
      - 8001:80

  krakend_ce:
    image: devopsfaith/krakend:watch
    volumes:
      - ./config/krakend:/etc/krakend
    ports:
      - "8080:8080"
    command: [ "run", "-d", "-c", "/etc/krakend/krakend.json" ]
    depends_on:
      - templates
      - documents

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "6831:6831"

  prometheus:
    image: prom/prometheus
    volumes:
      - ./config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana-oss
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - ./config/grafana/datasources/prometheus_ds.yml:/etc/grafana/provisioning/datasources/prometheus_ds.yml